.header {
    width: auto;
    background-color: darkslategray;
    height: 100px;
    display: flex;
    align-items: center;
    border: thick double black;
    justify-content: center;
    color: white;
    font-size: 30px;
}
.header1 {
    width: auto;
    background-color: rgb(115, 192, 145);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu {
    max-width: 9%;
    height: 900px;
    background-color: gray;
    float: left;
    border-left: thick double black;
    border-right: solid black;
    border-bottom:  thick double black;
}
.button {
    background-color: grey;
    border: 1px solid grey;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(187, 172, 172, 0.354);
    color:  black;
}
 .butto {
    color: black;
    font-size: 50px;
    font-style: italic;
    margin-left: 550px;
}
.butto:hover {
    color: red;
}
.main {
    width: 90%;
    height: 900px;
    background-color: white;
    float: left;
    border-right: thick double black;
    border-bottom: thick double black;

}

.lay {
    width: auto;
    height: auto;
    display: flex;
}
.box {
    background-color: saddlebrown;
    width: 700px;
    height: 700px;
    margin-left: 20%;
    margin-top: 30px;
    border: solid black;
    display: flex;
}
.lewy {
    width: 50px;
    height: 600px;
    margin-top: 35px;
    text-align: center;
    line-height: 37px;
    float: left;
    color: chocolate;
    font-size: 35px;
}
.prawy {
    width: 50px;
    height: 600px;
    margin-top: 60px;
    text-align: center;
    line-height: 37px;
    float: left;
    margin-left: 600px;
    color: chocolate;
    font-size: 35px;
    transform: rotate(180deg)

}
.gora {
    clear: both;
    letter-spacing: 55px;
    color: chocolate;
    font-size: 35px;
    height: 50px;
    width: 600px;
    margin-top: -10px;
    margin-left: 60px;
    position: absolute;
    transform: rotateX(180deg);
}
.dol {
    clear: both;
    letter-spacing: 55px;
    color: chocolate;
    font-size: 35px;
    height: 50px;
    width: 600px;
    margin-left: 60px;
    position: absolute;
    margin-top: 650px;
}
.plyta {
    background-color: bisque;
    width: 600px;
    height: 600px;
    margin-left: 50px;
    margin-right: 50px;
    position: absolute;
    bottom: -30px;
    border: solid black;
    display: flex;
}
.pola {
    clear: both;
}
.czarne {
    background-color: black;
    width: 75px;
    height: 75px;
    float: left;
    box-sizing: border-box;
}
.biale {
    background-color: white;
    width: 75px;
    height: 75px;
    float: left;
    box-sizing: border-box;
}
